/* Base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/typography.css';

/* Layouts */
@import './layout/structure.css';
@import './layout/hero.css';
@import './layout/works.css';
@import './layout/knowledge.css';
@import './layout/services.css';
@import './layout/portfolio.css';
@import './layout/contact.css';
@import './layout/form.css';

/* Theme */
@import './theme/theme.css';

/* Components */
@import './components/button.css';
@import './components/logo.css';
@import './components/modal-submit-form.css';
@import './components/navigation.css';
@import './components/social-medias.css';
@import './components/toggle-theme.css';
@import './components/whatsapp-fixed.css';

/* Utils */
@import './utils/animation.css';
@import './utils/helpers.css';

/* Base */
@import './base/responsive.css';

/* Introdução */
#intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-color-inverted);
    /* remover ou ajustar */
    padding-bottom: 250px;
}

.intro__title {
    font-weight: 700;
    font-size: var(--font-size-large);
    padding: 40px;
}

.intro-text,
.intro-text strong {
    font-size: var(--font-size-large);
    color: var(--text-color);
    width: 80%;
}

.intro-text strong {
    color: var(--green);
}