/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Hero Infos */
.hero-info__container {
    display: flex;
    flex-direction: column;
    gap: 30px
}

/* Hero Highlights */
.hero-highlights__container {
    margin-top: -100px;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.highlights__container {
    display: flex;
    gap: 10px;
    border-radius: var(--border);
    border: 1px solid;
    padding: 20px;
}

.glass-effect {
    /* From https://css.glass */
    border-radius: 16px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.projects-done__icon-check {
    min-width: 20px;
    max-width: 20px;
    align-self: self-start;
}

.projects-done__title,
.projects-done__texts {
    font-size: var(--font-size-large);
    z-index: 100;
}

.projects-done__title {
    font-weight: 500;
}

.projects-done__texts {
    font-weight: 300;
    color: var(--text-color);
    font-size: var(--font-size-normal);
}