/* Social Media Profissionals */
.socialmedia__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container__icons {
    display: flex;
    gap: 50px;
}

.container__icons .fa-brands {
    font-size: 3rem;
    color: var(--text-color);
}

.fa-linkedin-in:hover {
    color: var(--blue);
    ;
}

.fa-square-github:hover {
    color: var(--purple);
}

.fa-google:hover {
    color: var(--pink);
}