@media (min-width: 768px) {

    /* Max-Width Container */
    .hero-info__container,
    .works__container,
    .services__container,
    .contact__container {
        max-width: 910px;
    }

    /* Header */
    .nav__hidden {
        transform: translateY(calc((-100%) + 133px));
    }

    /* Areas */
    .areas__container {
        justify-content: center;
        gap: 20px;
    }

    .areas-text {
        font-size: var(--font-size-large);
    }

    /* Hero */
    /* Hero Infos */
    .hero {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .hero-info__container {
        flex-grow: 1;
        width: 100%;
        justify-self: center;
        gap: 50px;
    }

    .hero-info__btn {
        flex-direction: row;
    }

    .btn-projects,
    .btn-cta {
        flex-grow: 1;
    }

    /* Hero Image */
    .hero-animation__container {
        margin-top: -200px;
        flex-direction: row;
        display: inline;
        width: 45%;
        flex-grow: 1;
        height: 32vh;
        padding-top: 0;
    }

    .hero-animation {
        transform: scale(1.6);
    }

    .hero-highlights__container {
        padding-top: 0;
        width: 50%;
    }

    .tech-item {
        width: 100px;
    }

    /* CTA Form Title */
    .cta-form__title,
    .cta-form__title span {
        text-align: left;
        font-size: 5rem;
        line-height: 4.5rem;
    }
}

@media (min-width: 1024px) {

    .hero,
    .knowledge__container,
    .services__container,
    .contact__container {
        max-width: 1200px;
    }

    /* Hero */
    .hero {
        justify-self: center;
        width: 100%;
    }

    /* Hero Infos */
    .hero-info__container {
        width: 50%;
        align-self: center;
        margin-bottom: 0;
    }

    /* Hero Image */
    .hero-animation__container {
        width: 40%;
        height: 50vh;
    }

    .hero-animation {
        transform: scale(1.4);
    }

    /* Hero Highlights */
    .hero-highlights__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    .highlights__container {
        width: 40%;
        flex-grow: 1;
    }

    /* Works Brands */
    .works__container {
        max-width: 100%;
    }

    .light-color-container:hover {
        background: linear-gradient(90deg in hsl longer hue, white, grey, white);
        background-size: 150% 100%;
        animation: moveLineColor 3s linear infinite alternate;
    }

    /* Portfolio */
    .portfolio__container {
        gap: 20px;
    }

    .portfolio__item {
        width: 32%;
    }

    .card img {
        padding: 40px;
    }

    /* Contato */
    .contact__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    /* Form */
    .cta-form__container,
    .form__container {
        width: 50%;
    }

}