@media (min-width: 768px) {

    /* Max-Width Container */
    .hero-info__container,
    .hero-highlights__container,
    .works__container,
    .services__container,
    .contact__container {
        max-width: 910px;
    }

    /* Header */
    .nav__hidden {
        transform: translateY(calc((-100%) + 133px));
    }

    /* Navogation */
    .nav-list {
        flex-wrap: nowrap;
        max-width: 50%;
    }

    .nav-item {
        flex-basis: 20%;
        width: 100%;
    }

    .intro__text {
        width: 70vw;
        line-height: 3.5rem;
    }

    .intro__text,
    .intro__text strong {
        font-size: var(--font-size-large);
    }

    /* Areas */
    .areas__container {
        justify-content: center;
        gap: 20px;
    }

    .areas-text {
        font-size: var(--font-size-large);
    }

    /* Hero */
    /* Hero Infos */
    .hero {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .hero-info__container {
        flex-grow: 1;
        width: 100%;
        justify-self: center;
        gap: 50px;
    }

    .hero-info__btn {
        flex-direction: row;
    }

    .btn-projects,
    .btn-cta {
        width: 100%;
        background-color: rgba(var(--primary-color), 0.1);
    }

    .btn-cta {
        background-color: rgba(var(--primary-color), 0.1);
    }

    .btn-projects:after,
    .btn-cta:after {
        content: "";
        height: 200px;
        width: 100px;
        position: absolute;
        top: -80px;
        left: -140px;
        background: rgba(255, 255, 255, 0.8);
        opacity: .3;
        transform: rotate(45deg);
        transition: all 1350ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 10;
        pointer-events: none;
    }

    .border-svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: none;
        pointer-events: none;
    }

    .btn-projects:hover,
    .btn-cta:hover {
        transform: translateY(-2px);
        border-color: transparent;
        /* A borda do SVG assume o visual */
    }

    .btn-projects:hover:after,
    .btn-cta:hover:after {
        left: 120%;
        width: 0px;
    }

    .btn-projects:hover .hl-line,
    .btn-cta:hover .hl-line {
        stroke-dashoffset: -545;
    }

    .btn-projects:hover {
        background-color: rgba(179, 0, 255, 0.4);
    }

    .btn-cta:hover {
        background-color: rgba(0, 204, 170, 0.6);
    }

    .btn-projects .hl-line,
    .btn-cta .hl-line {
        stroke-width: 5px;
        transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    }

    /* Hero Image */
    .hero-highlights__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
        gap: 20px;
    }

    .highlights__container {
        width: 48%;
    }

    .tech-item {
        width: 100px;
    }

    /* CTA Form Title */
    .cta-form__title,
    .cta-form__title span {
        text-align: left;
        font-size: 5rem;
        line-height: 4.5rem;
    }
}

@media (min-width: 1024px) {

    /* Teste */
    .highlights__container {
        position: relative;
        padding: 30px;
        border-radius: 16px;
        overflow: hidden;
        display: inline-flex;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .highlights__container:after {
        height: 300px;
        left: -175px;
        top: -35px;
        border-radius: 6px;
    }

    .highlights__container:hover {
        color: black;
    }

    .highlights__container:hover:after {
        left: 110%;
        top: -170px;
        height: 500px;
        width: 500px;
        border-radius: 24px;
        transform: rotate(135deg);
        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .border-svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: none;
        pointer-events: none;
    }

    .border-svg rect {
        /* O cálculo do Perímetro de um retângulo é 2*(L+A). 
       Usar 1000 no dasharray costuma cobrir a maioria dos tamanhos de card. */
        stroke-dasharray: 150 1200;
        stroke-dashoffset: 150;
        stroke-width: 2px;
        transition: 3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .bg-line {
        stroke: transparent;
        /* Se quiser ver o caminho, use rgba(255,255,255,0.05) */
    }

    .hl-line {
        stroke-linecap: round;
        /* Faz as pontas da linha serem arredondadas */
    }

    /* Animação no Hover */
    .highlights__container:hover .hl-line {
        stroke-dashoffset: -1200;
        /* Faz a linha percorrer todo o perímetro */
    }

    /* Max-Width Desktop */
    .hero,
    .knowledge__container,
    .services__container,
    .contact__container {
        max-width: 1200px;
    }

    /* Navigation */

    .nav-list {
        width: 30%;
    }

    .intro__text {
        width: 45vw;
    }

    /* Hero */
    .hero {
        width: 100%;
    }

    /* Hero Infos */
    .hero-info__container {
        width: 100%;
        align-self: center;
        margin-bottom: 0;
    }

    /* Hero Highlights */

    /* Works Brands */
    .works__container {
        max-width: 100%;
    }

    .light-color-container:hover {
        background: linear-gradient(90deg in hsl longer hue, white, grey, white);
        background-size: 150% 100%;
        animation: moveLineColor 3s linear infinite alternate;
    }

    /* Portfolio */
    .portfolio__container {
        gap: 20px;
    }

    .portfolio__item {
        width: 32%;
    }

    .card img {
        padding: 40px;
    }

    /* Contato */
    .contact__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    /* Form */
    .cta-form__container,
    .form__container {
        width: 50%;
    }

}