/* H2 Title*/
.works__title,
.works__title span,
.knowledge__title,
.knowledge__title span,
.services__title,
.services__title span,
.portfolio__title,
.portfolio__title span,
.cta-form__title {
    font-size: 5rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 5vh;
}

/* h2 Title Design */
.intro__text strong,
.hero-title,
.knowledge__title,
.portfolio__title,
.cta-form__title,
.modal__title,
.socialmedia__title {
    /* Efeito colorido */
    background: linear-gradient(45deg, var(--green), var(--purple));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.works__title span,
.knowledge__title span,
.services__title span,
.portfolio__title span,
.cta-form__title span {
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
}

.portfolio__title span {
    -webkit-text-stroke-color: black;

}

.knowledge__title span,
.cta-form__title span {
    color: var(--primary-color);
}

/* Text White color for gradient background */
.works__title,
.services__title,
.portfolio__title span {
    color: white;
}

[data-theme='light'] .works__title span,
[data-theme='light'] .services__title span {
    -webkit-text-stroke-color: white;
}

/* H3 Subtitle */
.works__subtitle,
.knowledge__subtitle,
.services__subtitle,
.portfolio__subtitle,
.cta-form__text,
.socialmedia__title {
    font-size: var(--font-size-normal);
    margin-bottom: 5vh;
}

/* Nav Areas */
.areas-text {
    font-size: 1.4rem;
}

/* Introdução */
.intro__title {
    font-weight: 1000;
    font-size: var(--font-size-large);
    margin: 15px 0
}

.intro__text {
    text-align: center;
    width: 75vw;
    line-height: 2.2rem;
    color: var(--secondary-color);
}

.intro__text,
.intro__text strong {
    font-size: var(--font-size-normal);
}

.intro__text strong {
    font-weight: 500;
    color: var(--blue);
}

/* Hero */
.hero-title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 4.5rem;
}

.hero-text {
    font-size: var(--font-size-large);
    line-height: 2.8rem;
    color: var(--secondary-color);
}

/* Knowledge */
.knowledge__subtitle {
    text-align: center;
}

/* Icons build with font */
.icon-photoshop,
.icon-illustrator,
.icon-indesign,
.icon-typescript {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 10px;
}

/* Icons SVG */
.icon-wix,
.icon-vscode,
.icon-notion,
.icon-clickup {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    filter: invert(100%);
}

[data-theme='light'] .icon-wix,
[data-theme='light'] .icon-vscode,
[data-theme='light'] .icon-notion,
[data-theme='light'] .icon-clickup {
    filter: invert(0);
}

.tech-name {
    font-size: var(--font-size-small);
}

/* Portfolio */
.portfolio__subtitle {
    color: black;
}

/* Form */
.cta-form__title,
.cta-form__title span {
    font-size: 4.2rem;
    line-height: 3.5rem;
    letter-spacing: 2px;
}

.cta-form__text {
    font-size: var(--font-size-large);
}

/* Title Medias professionals */
.socialmedia__title {
    font-size: var(--font-size-large);
    margin-bottom: 2vh;
}

/* Modal Confirmation */
.modal__title {
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
}

.modal-content p,
.modal-content strong {
    font-size: var(--font-size-small);
    color: var(--black);
}