:root {
    /* Colors Globals */
    --white: #fff;
    --black: #000;
    --grey-medium: #292929;
    --green: rgb(0, 204, 170);
    --pink: rgb(255, 92, 184);
    --blue: rgb(61, 200, 255);
    --purple: rgb(179, 0, 255);
    --whatsapp-green: #128C7E;
    --whatsapp-green-light: #25D366;

    /* Font Family */
    --font-family: 'Montserrat', sans-serif;
    --font-family-plus-jakarta: 'Plus Jakarta Sans', sans-serif;

    /* Font size */
    --font-size-small: 1.2rem;
    --font-size-normal: 1.6rem;
    --font-size-large: 2.0rem;
    --font-size-logo: 2.5rem;
    --font-size-titles: 4rem;

    /* Borders */
    --btn-border: 0.5rem;
    --border: 1rem;
    --border-100: 100%;

    /* Breakpoints */
}