/* Toggle Theme */
#toggle-theme {
    width: 25px;
    height: 25px;
    margin: 20px;
    font-size: var(--font-size-small);
    font-weight: 500;
    text-indent: 30px;
    color: var(--text-color);
    border-radius: var(--border-100);
    cursor: pointer;
}

[data-theme='dark'] #toggle-theme {
    background-color: var(--primary-color);
    border: 2px solid white;
}

[data-theme='light'] #toggle-theme {
    background-color: gold;
}